<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>operating_schedule1.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,83},{90,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{90,16}}</string>
                <key>sourceSize</key>
                <string>{100,18}</string>
            </dict>
            <key>operating_schedule2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,101},{90,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{90,14}}</string>
                <key>sourceSize</key>
                <string>{100,18}</string>
            </dict>
            <key>operating_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>operating_starsbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,79}}</string>
                <key>sourceSize</key>
                <string>{114,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lifeItem.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91c67f69bf1eea42dfb09cf9b0e1ed87$</string>
            <key>textureFileName</key>
            <string>lifeItem.png</string>
        </dict>
    </dict>
</plist>
